/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Set variables */
:root {
	--blue: #5c92ff;
	--red: #ff5e5e;
	--yellow: #9b9b00;
	--green: #00af00;
	--cyan: #00a79c;
	--white-on-black: #959595;
	--white-on-gray: #acacac;
	--black: #000000;
	--gray2: #222222;
	--light-gray: #111111;
	--gray4: #444444;
}

/* Typography */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #ddd;
	background-color: #000;
}

p {
	margin-bottom: 1.5em;
}

a {
	color: var(--blue);
	text-decoration: none;
}

/* Text block content */
h1, h2, h3, h4, h5, h6, hr, p, blockquote, address, pre, 
/* List content */
details, summary, dl, dt, dd, ul, li, 
/* Table content */
caption, colgroup, col, td, 
/* Form content */
form, fieldset, legend, datalist, option, label, input, meter, select, optgroup, 
option, textarea, button, 
/* Inline text semantics */
abbr, b, bdi, bdo, br, cite, code, data, del, dfn, em, i, ins, kbd, mark, q, 
rp, rt, s, samp, small, span, strong, sub, sup, time, u, var, wbr {
	max-width: 43rem;
	font-weight: normal;
}

/* h1, h2, h3 {
	font-weight: normal;
	margin: 0 0 20px;
	color: #fff;
} */

/* Layout */
header {
	background-color: #222;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin: 0 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 0 auto;
	padding: 20px;
}

section {
	margin: 40px 0;
}

.row {
	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
}

.center-vertically, h2, h3, hr {
	display: flex;
	justify-content: center;
	margin: auto;
}

.center-horizontally {
	display: flex;
	align-self: center;
}

.center-children-vertically {
	display: flex;
	align-items: center;
}

.center-children-horizontally {
	display: flex;
	align-items: center;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.project {
	margin-bottom: 40px;
}

.project img {
	max-width: 100%; /* Set the image to occupy full width */
	margin-bottom: 20px; /* Add spacing between image and text */
}

.project-content {
	margin-top: 20px; /* Add spacing between image and text */
}

form label {
	display: block;
	margin-bottom: 10px;
	color: #fff;
}

form input[type="text"],
form input[type="email"],
form textarea {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #444;
	margin-bottom: 20px;
	background-color: #111;
	color: #ddd;
}

form textarea {
	height: 200px;
}

form button[type="submit"] {
	background-color: var(--blue);
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

form input[type="submit"]:hover {
	background-color: #444;
}

footer {
	background-color: #222;
	color: #ddd;
	padding: 20px;
	text-align: center;
}

/* Media query for inline layout on wider screens */
@media (min-width: 768px) {
	.project-content {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.project img {
		max-width: 35%;
		margin-bottom: 0;
		margin-right: 20px;
	}

	.project-description {
		display: inline;
	}
}
