/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Colors */

:root {
	--color-blue: hsl(210, 100%, 40%);
	--color-red: hsl(0, 100%, 50%);
	--color-yellow: hsl(60, 100%, 50%);
	--color-green: hsl(120, 100%, 40%);
  }
  
/* Typography */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #ddd;
	background-color: #000;
}

h1, h2, h3 {
	font-weight: normal;
	margin: 0 0 20px;
	color: #fff;
}

/* Layout */
header {
	background-color: #222;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin: 0 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin: 40px 0;
}

.project {
	margin-bottom: 40px;
}

.project img {
	max-width: 100%;
}

form label {
	display: block;
	margin-bottom: 10px;
	color: #fff;
}

form input[type="text"],
form input[type="email"],
form textarea {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #444;
	margin-bottom: 20px;
	background-color: #111;
	color: #ddd;
}

form textarea {
	height: 200px;
}

form input[type="submit"] {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

form input[type="submit"]:hover {
	background-color: #444;
}

footer {
	background-color: #222;
	color: #ddd;
	padding: 20px;
	text-align: center;
}

button {
	background-color: var(--red);
	color: var(--white);
}